<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>093EF93C-A14A-44B0-8D06-3A055AA15996</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>text</key>
			<string>Search giphy for '{query}'</string>
			<key>url</key>
			<string>http://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2B6397B7-C19F-41A2-9BBB-8E9732979B67</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>text</key>
			<string>Open {query} in NPM</string>
			<key>url</key>
			<string>https://www.npmjs.com/package/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>7177DB22-0F6B-4C71-8FF7-75D14AA5A1A6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>text</key>
			<string>Search MDN for '{query}'</string>
			<key>url</key>
			<string>https://developer.mozilla.org/en-US/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
